{{#each blogposts as |blogpost|}}
<div class = "row mb-4 display-flex justify-space-between blogpost">
    <div class = "col-md-12 flex-row justify-space-between mb-2 blogpost-title">
        <h2>
            <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
        </h2>
        <p>Posted by {{blogpost.user.username}} on {{format_date blogpost.date_created}}</p>
    </div>
    <div class="col-md-12">
        <p>
        {{blogpost.content}}
        </p>
    </div>
</div>
{{/each}}